main/java/biomesoplenty/*
main/java/ic2/*
main/resources/assets/ic2/textures/blocks/crop/blockCrop.Oreberry.2.png
main/resources/assets/ic2/textures/blocks/crop/blockCrop.Oreberry.3.png
main/java/tconstruct/*
main/java/thaumcraft/*
README
*zip
*txt
.gradle/
libs/
out/
eclipse/
*.ipr
*.iml
*.iws